@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: #999999;
}

img {
	width: 600px;
}

button {
	font-family: Roboto, sans-serif;
	border: none;
	border-radius: 8px;
	background: #eee;
}

input {
	border: 1px solid #ddd;
	border-radius: 16px;
	padding: 8px 24px;
	width: 400px;
	margin-bottom: 16px;
}

.header,
.footer,
.left-links,
.right-links,
.buttons {
	display: flex;
}

.content {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.header,
.footer {
	justify-content: space-between;
	padding: 8px;
}

.footer {
	background-color: #eeeeee;
}

.left-links,
.right-links,
.buttons {
	gap: 8px;
}

button {
	padding: 6px;
}
